<div id="contactSubDiv" class="contact-sub-div">
	<div class="reach-us">You can reach us here</div>
	<div class="contact-here row-fluid">
		<div id="contactDiv" class="contact-div span8">
			<h3>How can we contact you ?</h3>
			<form id="contactForm" class="contact-form">
				<label class="im-star">*</label>
				<input type="text" class="c-text name span7" placeholder="Your Name" data-content="Enter name"/><br>
				<!-- <label class="nameL">Enter name</label><br> -->
	 			<label class="im-star">*</label><input type="text" class="c-text email span7" placeholder="Email ID" data-content="Enter Email id"/><br>
	 			<!-- <label class="nameL">Enter email id</label><br> -->
	 			<label class="im-star">*</label><input type="text" id="contactNum" class="c-text phone span7" placeholder="Contact Number" data-content="Enter Phone Number"/><br>
	 			<!-- <label class="nameL">Enter phone number</label><br> -->
	 			<label class="im-star">*</label><textarea class="c-text msg-text span8" placeholder="your message" data-content="Leave a message"></textarea>
	 			<!-- <label class="nameL">Leave a message</label> -->
	 			<div class="form-btns-div span8">
	 				<div class="btn-sub-div">
	 					<input type="button" class="submit-btn btn btn-info btn-cancel" value="Submit"/>
	 					<input type="reset" class="reset-btn btn" value="Cancel"/>
	 				</div>
	 			</div>	
			</form>
		</div>
		<div id="contactAddress" class="contact-head-address span4">
			<h3>Head Office</h3>
			<p>#23, kunnummal, <br>Wayanad,<br> Kerala, India-670230</p>
			<p>Contact number : 0000000000, 1111111111</p>		
			<div class="contact-branch-address">
				<h3>Branch Office</h3>
				<p>#21, Kuniyil, <br>Wayanad,<br> Kerala, India-670230</p>
				<p>Contact number : 2222222222, 3333333333</p>
			</div>


		</div>


	</div>

	<div id="loctionMap" class="location-map row-fluid">
		<iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.in/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Wayanad+Resorts,+Vythiri,+Kerala&amp;aq=2&amp;oq=Wayanad&amp;sll=11.709446,76.095537&amp;sspn=0.832366,1.352692&amp;ie=UTF8&amp;hq=&amp;hnear=&amp;ll=11.518321,76.044909&amp;spn=0.006295,0.006295&amp;t=m&amp;output=embed"></iframe><br /><small><a href="https://maps.google.co.in/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Wayanad+Resorts,+Vythiri,+Kerala&amp;aq=2&amp;oq=Wayanad&amp;sll=11.709446,76.095537&amp;sspn=0.832366,1.352692&amp;ie=UTF8&amp;hq=&amp;hnear=&amp;ll=11.518321,76.044909&amp;spn=0.006295,0.006295&amp;t=m" style="color:#0000FF;text-align:left">View Larger Map</a></small>
	</div>
</div>