<!-- <div class="footer-img"></div> -->
<div id="footerSub" class="footer-sub">
	<div class="footer-content row-fluid">
		<div class="social-site-links span4">
			<a href="https://www.facebook.com/vineethk.koppai" target="_blank"><img src="imgs/facebook.png"/></a>
			<a href="http://www.linkedin.com/home?trk=nav_responsive_tab_home" target="_blank"><img src="imgs/linkedin.png"/></a>
			<a href="https://twitter.com/?pb_login=5062805&pb_source=startpage" target="_blank"><img src="imgs/twitter.png"/></a>
			<a href="https://plus.google.com/u/0/" target="_blank"><img src="imgs/googleplus.png"/></a>
		</div>
		<div class="page-links-footer span5">
			<ul>
				<li class="home-li footer-active" id="home">Home</li>
				<li class="we-lii" id="explore-us">We Are</li>
				<li class="blog-li" id="blog">Blog</li>
				<li class="contact-li" id="contact">Contact Us</li>
			</ul>
		</div>
	</div>
	<div class="copy-right-msg row-fluid">
		<p class="copy-right-p">
			Copyright @ 2013 Empronic Pvt Ltd.
		</p>
	</div>
	
</div>