<div id="headerSub" class="header-sub row-fluid">
	<a href="#"><div class="logo-div span3">
		<img src="imgs/About-Us.jpg" />COMPANY NAME
	</div></a>
	<ul class="nav-ul span5 offset2">
		<li class="span3 home-li active" id="home">Home</li>
		<li class="span3 we-li dropdown" id="we-are">We Are
			<ul class="dropdown-menu we-are-drop">
				<li id="explore-us">Explore Us</li>
				<li id="western-ghats">Explore Western Ghats</li>
			</ul>
		</li>
		<li class="span3 blog-li" id="blog">Blog</li>
		<li class="span3 contact-li" id="contact">Contact Us</li>
	</ul>
</div>