<div id="aboutSub" class="about-sub">
	<div class="row-fluid">
		<div class="about-img"></div>
	</div>
	<div class="about-us-desc-div row-fluid">
		<h3>We Are</h3>
		<p>
			Wayanad Naturalist guide Association is a well trained naturalist group that is dedicated to support and promote the preserve, educational, interpretative, recreational goals and tourism of Wayanad district area. Our members include experts, who gladly share their knowledge, and novice nature lovers eager to learn more. We all enjoy our WNGA activities, informative newsletters and friendly people. We are trained Naturalist from KITTS and also have experience in guiding foreign as well as Indian tourist and organizing conducted tours in all parts of Wayanad and nearby places. Our experience will be great use for the tourist as well as students, Bird watchers. We know every nook and corner of Wayanad also we have excellent connection with local people and government officials.

		</p>
	</div>
</div>