<div id="westernGhatsSub" class="western-ghats-sub">
	<div class="ghats-content">
		<h3>Explore Western Ghats</h3>
		<div>
			<p>
			Wayanad lies cocooned in the hills of the “Western Ghats”. Famed for its jaw-dropping beauty, the landscape is a green medley of rice paddies, untouched forests, spice plantations and more rice paddies.
			The Western Ghats or the Sahyādri constitute a mountain range along the western side of India. It is a UNESCO World Heritage Site and is one of the eight "hottest hotspots" of biological diversity in the world. It is sometimes called the Great Escarpment of India. The range runs north to south along the western edge of the Deccan Plateau, and separates the plateau from a narrow coastal plain, along the Arabian Sea.
		</p>
		<br>
		<p>
			Their positioning makes the Western Ghats biologically rich and biogeographically unique - a veritable treasure house of biodiversity. Though covering an area of 180,000 square kilometres, or just under 6% of the land area of India, the Western Ghats contain more than 30% of all plant, fish, herpeto-fauna, bird, and mammal species found in India. Many species are endemic, in fact 50% of India’s amphibians and 67% of fish species are endemic to this region.
			The region has a spectacular assemblage of large mammals - around 30% of the world’s Asian elephant (Elephas maximus ) population and 17% of the world’s existing tigers (Panthera tigris) call this area their home. Protection for these is extended through several nationally significant wildlife sanctuaries, tiger reserves, and national parks. 
			The area has over 5000 species of flowering plants, 139 mammal species, 508 bird species and 179 amphibian species; it is likely that many undiscovered species live in the Western Ghats. At least 325 globally threatened species occur in the Western Ghats.
			The Western Ghats include a diversity of ecosystems ranging from tropical wet evergreen forests to mountain grasslands and containing numerous medicinal plants and important genetic resources such as the wild relatives of grains, fruit and spices. They also include the unique shola ecosystem which consists of mountain grasslands interspersed with evergreen forest patches.
		</p>
		<br>
		<p>
     		The Nilgiri Biosphere Reserve is an International Biosphere Reserve in the Western Ghats, nilgiri hills range of South India. The Western Ghats, Nilgiri Sub-Cluster (6,000+ km²), conjoining the Nilgiri Biosphere Reserve, is under consideration by the UNESCO World Heritage Committee for selection as a World Heritage Site.

		</p>	
		</div>
		
	</div>
	<div id="westernGhatsImgsSlider" class="western-ghats-slider row-fluid">
		<div class="western-sliders">
			<div class="western-slider-sub">
				<a href="imgs/iMAGES/edited/thumbi_b.png" class="fancybox" data-fancybox-group="gallery">
					<img src="imgs/iMAGES/edited/thumbi_s.png"/>
				</a>
				<a href="imgs/iMAGES/edited/puzhu_b.png" class="fancybox" data-fancybox-group="gallery">
						<img src="imgs/iMAGES/edited/puzhu_s.png" data-fancybox-group="gallery"/>
				</a>
				<a href="imgs/iMAGES/edited/trogan_b.jpg" class="fancybox" data-fancybox-group="gallery">
					<img src="imgs/iMAGES/edited/trogan_s.png" data-fancybox-group="gallery"/>
				</a>
				<a href="imgs/iMAGES/edited/bluebutter_b.jpg" class="fancybox" data-fancybox-group="gallery">
						<img src="imgs/iMAGES/edited/bluebutter_s.png" data-fancybox-group="gallery"/>
				</a>
				<a href="imgs/iMAGES/edited/Elephant_b.png" class="fancybox" data-fancybox-group="gallery">
					<img src="imgs/iMAGES/edited/Elephant_s.png" data-fancybox-group="gallery"/>
				</a>
			</div>
			
		</div>
	</div>
</div>